@font-face {
    font-family: 'A';
    src: url('../../public/fonts/Air.woff2') format('woff2'),
        url('../../public/fonts/Air.woff') format('font-woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'A';
    src: url('../../public/fonts/Thin.woff2') format('woff2'),
        url('../../public/fonts/Thin.woff') format('font-woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'A';
    src: url('../../public/fonts/Light.woff2') format('woff2'),
        url('../../public/fonts/Light.woff') format('font-woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'A';
    src: url('../../public/fonts/Regular.woff2') format('woff2'),
        url('../../public/fonts/Regular.woff') format('font-woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'A';
    src: url('../../public/fonts/Medium.woff2') format('woff2'),
        url('../../public/fonts/Medium.woff') format('font-woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'A';
    src: url('../../public/fonts/Bold.woff2') format('woff2'),
        url('../../public/fonts/Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'A';
    src: url('../../public/fonts/Black.woff2') format('woff2'),
        url('../../public/fonts/Black.woff') format('font-woff');
    font-weight: 700;
    font-style: normal;
}


// MP

@font-face {
    font-family: 'MP';
    src: url('../../public/fonts/MPExtraLight.woff2') format('woff2'),
        url('../../public/fonts/MPExtraLight.woff') format('font-woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MP';
    src: url('../../public/fonts/MPLight.woff2') format('woff2'),
        url('../../public/fonts/MPLight.woff') format('font-woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MP';
    src: url('../../public/fonts/MP.woff2') format('woff2'),
        url('../../public/fonts/MP.woff') format('font-woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MP';
    src: url('../../public/fonts/MPBold.woff2') format('woff2'),
        url('../../public/fonts/MPBold.woff') format('font-woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'A2';
    src: url('../../public/fonts/A2.woff2') format('woff2'),
        url('../../public/fonts/A2.woff') format('font-woff');
    font-weight: 400;
    font-style: normal;
}