// Responsiveness variables
$mobile: 950px;
$small: 1250px;
$regular: 1400px;
$large: 1700px;

// Elements
$headerHeight: 50px;

$border:1px solid rgba($black, 0.06);
$borderColor: #E6E6E6;
$territary: #626565;

$cellRightWidth: 650px;
$cellRightWidthSmall: 370px;
$cellWidth: 120px;
$cellWidthSmall: 100px;

$cellRightWidthMedium: 850px;
$cellWidthMedium: 130px;

$cellRightWidthBig: 1100px;
$cellWidthBig: 170px;
